main{
  display:grid;
  grid-template-columns: 2fr 3fr 2fr;
  background-color:lightgray;
  border: 2px solid;

}
header{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr  ;
  grid-gap: 20px;
  background-color: #666666;

}






.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 10px;
    z-index: 1;
    padding: 0px;
    width: 1px;
}

.dropdown:hover .dropdown-content {
    display: block;



}
.dropdown-content li{
list-style: none;
}
h3>a{
  text-decoration: none;
  color: black;
  font-size: 30px;
}
.BigP{
  text-align: center;
}
